<app-nav-top></app-nav-top>

<!-- 로그인시 -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3 col-xl-2 sidebar">
      <app-nav-left></app-nav-left>
    </div>
    <div class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- 비로그인 -->
<div class="jumbotron jumbotron-fluid" [hidden]="(isLogin | async)">
  <div class="container">
    <div class="row">
      <h1>NONE LOGIN</h1>
      <form #frm [formGroup]="formModel" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="employeeId">EMPLOYEE ID</label>
          <input type="text" class="form-control" id="employeeId" formControlName="employeeId" placeholder="사번">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
      </form>
    </div>
  </div>
</div>
